<div class="survey_form_question_list">
  <input class="total_question_count" type="hidden" name="survey[count]" value="1">
  <div class="survey_form_question">
    <label for="question1">Question 1: </label>
    <input type="hidden" name="survey[user]">
    <input class="survey_form_description" type="text" name="survey[question1][description]" id="question1">
    <%= erb :'choice/_add_form' %>
  </div>
</div>