<div class="survey_form_question_list">
  <div class="survey_form_question">
    <label for="question1">Question 1: </label>
    <input type="hidden" name="survey[user]">
    <input type="text" name="survey[question1][description]" id="question1">
    <%= erb :'choice/_add_form' %>
  </div>
</div>