<% @surveys.each do |survey| %>
  <h2><%= survey.title %></h2>
  <img src="<%= survey.image %>">
  <ul>
  <% survey.questions.each do |question| %>
    <li>Question: <%= question.description %></li>
      <ul>
        <%# partial....would be nice %>
      <% question.choices.each do |choice| %>
        <li><%= choice.description %></li>
      <% end %>
      </ul>
  <% end %>
  </ul>
<% end %>
