body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

nav > ul > li {
  font-weight: bold;
}

.app-name {
  color: #000;
}

.app-name-link:hover {
  text-decoration: none;
}

/* Landing page */

.bigass-gorilla-container {
  width: 750px;
  height: 754px;
  margin: 0 auto;
}

.welcome-user {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.content-container {
  /*margin: 20px;*/
}

/* Homepage */

.homepage-container {
  margin: 0 auto;
  max-width: 850px;
}

.surveys-taken-container {
  width: 400px;
  margin-right: 40px;
}

.surveys-created-container {
  width: 400px;
  margin-left: 40px;
}

.thumbnail:hover {
  background: #eee;
}

/* Survey Results */

.question_pie_chart {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
}

.question_choice {
  font-size: 14pt;
}

.badge {
  float: right;
}

.survey_results {
  margin: auto;
}

.results_row {
  margin: 0;
}

/* New Survey Form */

.survey_form_container {
  margin: auto;
}

.survey_form {
  width: 50%;
  margin: auto;
}

.choice_input {
  width: 74%;
  margin-left: 1%;
  height: 34px;
  padding: 6px 2px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.first_choice {
  margin-left: .25%;
}

/*.choice_label {
  width: 12%;
}*/

.survey_submit {
  margin-top: 20px;
}

.choice_form_list {
  margin-top: 10px;
}

/* Take Survey Form */

.survey_fill_out {
  width: 90%;
  margin: auto;
}

.question_list_item {
  right: 20px;
}
