body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

nav > ul > li {
  font-weight: bold;
}

.app-name {
  color: #000;
}

.bigass-gorilla-container {
  width: 750px;
  height: 754px;
  margin: 0 auto;
}

.welcome-user {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.content-container {
  /*margin: 20px;*/
}



