<div class="choice_form_container">
  <div class="choice_form_list">
    <div class="choice_add">
      <label for="question1choice1">Choice 1: </label>
      <input type="text" name="survey[question1choice1]" id="question1choice1">
    </div>
  </div>
  <div class="choice_form_adder">
    <span class="addChoice">Add Choice</span>
  </div>
</div>