<div class="choice_form_container form-group">
  <input class="total_choice_count" type="hidden" name="survey[question1][count]" value="1">
  <div class="choice_form_list">
    <div class="choice_add">
      <label class="choice_label" for="choice1">Choice 1:</label>
      <input class="choice_input first_choice" type="text" name="survey[question1][choice1]" id="choice1">
    </div>
  </div>
</div>