<div class="choice_form_container">
  <div class="choice_form_list">
    <div class="choice_add">
      <label for="choice1">Choice 1: </label>
      <input class="choice_input" type="text" name="survey[choice1]" id="choice1">
    </div>
  </div>
</div>