<div class="survey_form_container">
  <h2>Create a survey</h2>
  <form action="/surveys" method="post">
    <div class="survey_form_title ">
      <input type="text" name="survey[title]">
    </div>
    <div class="survey_form_questions">
      <span id="addVar">Add Question</span>
    </div>
    <p>
      <input type="submit" value="Check">
    </p>
  </form>
</div>