<!DOCTYPE html>
<html>
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/form_adders.js"></script>
  <script src="/js/survey.js"></script>
  <script src="/js/question.js"></script>
  <script src="/js/choice.js"></script>
  <script src="/js/jquery.flot.min.js"></script>
  <script src="/js/jquery.flot.pie.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/application.css">

  <title>Survey Gorilla</title>
</head>

<!-- Nav Bar -->
<body>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if current_user %>
            <li role="presentation"><div class="welcome-user">Welcome, <%= current_user.name %></div></li>
            <li role="presentation"><a href="/surveys/new">Create New Survey</a></li>
            <li role="presentation"><a href="/signout">Sign out</a></li>
            <% else %>
            <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" action="/signin" method="post">
                <div class="form-group">
                  <input type="text" placeholder="name" class="form-control" name="user[name]">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="password" class="form-control" name="user[password]">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
                <a href="/signup" class="btn btn-success">Register</a>
              </form>
            </div><!--/.navbar-collapse -->
            <% end %>
          </ul>
        </nav>
        <a class="app-name-link" href="/"><i class="fa fa-language fa-4x logo"></i><h3 class="app-name">SURVEY GORILLA</h3></a>
      </div>
      <% if flash[:error] && !flash[:error].empty? %>
      <div class="sign-in-error">
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= flash[:error] %>
        </div>
      </div>
      <% end %>

      <div class="content-container"><%= yield %></div>

      <footer class="footer">
      </footer>
</body>
</html>
